
//FILMCHOICE

.game-container{
  padding:50px 50px 10px 50px;
  border-radius: 15px;
  background-color:rgba(152, 80, 80,0.9);
  width: 50%;
  min-height:67vh;
  }    

.films-container {
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2%;
}

.versus {
  opacity: 0.8;
  background-image: url('../styles/imgs/versus.jpg');
  background-size: cover;
  width: 100px;
  height: 85px;
}

//FILMCARD.js

.movie{
  width: 28%;
  .movie-poster{
    width: 100%;
    border-radius: 10px;
  }
  .movie-flash {
    animation: increaseShadow 2s infinite;
    
    @keyframes increaseShadow {
        50% {box-shadow: 0px 0px 60px rgba(255,255,255, 1)}
      }
  }

  .movie-dim {
    -webkit-filter: brightness(20%);
    filter:brightness(40%);
  }

  .chooseButton{
    background-color: rgba(99, 56, 56, 0.9);
    margin: 10px 0px;
    border:none;
    padding: 10px;
    width: 100%;
    font-size: 1em;
  }
}


// FILMWINNER.js

.results {
  text-align: center;
  width: 100%;
  height: 100%;
  .winner-span{
    color: rgba(222, 216, 216, 0.9);
    text-decoration: underline;
    font-size: 1.2em;
  }
  .outcome-span{
    color: rgba(222, 216, 216, 0.9);
    font-size: 1.2em;
  }
  .outcome {
    font-size: 1.4em;
    color: rgba(79, 18, 18, 0.9);
    }
} 

.nextButton {
  border: none;
  background-color: transparent;
  font-size: 25px;
  margin-top:5px;
  p{
    color: rgba(79, 18, 18, 0.9);
  }
  animation: move 1.2s infinite;
  @keyframes move {
    0% {
      transform: translate(0, 3px);
    }
    35% {
      transform: translate(10px, 3px);
    }
    70% {
      translate: translate(0, 3px);
    }
    100% {
      transform: translate(0, 3px);
    }
  }
}



.film-settings{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width:22vw;
}

//SCORE 
.toggle-text{
  font-size: 15px;
  color: #ffffff;

}

.board {
  display: flex;
  padding: 20px;
  background-color: rgba(152, 80, 80,0.9);
  width:100%;
  border-radius: 15px;
  margin:4% 10% 0 10%;
}

.board-fill{
  margin-left:5px;
  width: 100%;
  border-radius: 10px;
  color: rgba(131, 55, 55, 0.9);
  background-color: rgba(238, 235, 235, 0.7);
}
.score-img{
  width:50%;
  opacity: 0.9;
}

//Drink
.drink-toggle{
  margin-top:40px;
  float: bottom;
  p{
    margin-top:15px;
  }
}

.drink-img{
  width: 30%;
  opacity: 0.8;
}
.drink-text{
  padding:10px;
  text-align: center;
  font-size: 15px;
}