* {
  margin:0;
  font-family: Arial, Helvetica, sans-serif; 
}
body {
  background-image: url('../styles/imgs/background\ copy.jpg');
  
main{
  margin: 0 auto;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

.home-page{
margin: 0 auto;
margin-top: 100px;
// border: 2px solid red;
width: 500px;
height: 500px;
align-items: center;
  .home-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:400px;
    margin:30px;
    background-color:whitesmoke;
    border-radius: 3px;
    border: px outset black;
  }
}



header {
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    height:60px;
    color: white;
    background-color: rgb(152, 80, 80);

}
.nav-options{
  display:flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  color: white;
  height: 100%;
  width:33%;
}
}

.main-container{
    // border: 2px solid black;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  // padding:30px;
  h1{
    text-align: center;

  }


}


.game-container{
  // border: 2px solid black;

  display: flex;
  justify-content: center;
  padding:40px;
  width: 900px;
  margin-top: 40px;
  background-color:rgb(196, 196, 196);
  font-size: 10px;

  .left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    // border: 2px solid black;
    .left-movie{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: grey;
      height: 400px;
      width: 250px;
    }
  }

  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    // border: 2px solid black;
    .right-movie{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: grey;
      z-index: 1;
      height: 400px;
      width: 250px;
    }
    
  }

}

.results {
  margin: 0 auto;
  // border: 2px solid white;
  width:500px;
    text-align: center;
  .winner-movie {
    width:980px;
    margin: 0 auto;
    height: 100px;
    background-color:rgb(196, 196, 196);
  }
  .outcome {
    font-size: 30px;
  }
}
.winner-movie {
  width:980px;
  margin: 0 auto;
  height: 100px;
  background-color:rgb(196, 196, 196);
}

.chooseButton{
  background-color: blue;
  color: white;
  width: 200px;
}

footer {
  text-align: center;
  padding: 10px;
  font-weight: lighter;
  color: whitesmoke;
height:30px;
  background-color: rgb(152, 80, 80);
}

.no-show{
  display:none;
}

.add-on-click{
  display:flex;
}
































