* {
  margin:0;
  font-family: fantasy;
}
body {
  max-width:1000px;
  background-color: whitesmoke;
  margin: 0 auto;
  .container {
    height: 800vh;
    background-color: white;
  }
}


header {
  .nav-bar {
    height:40px;
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(3, 75, 69);
}

.main-container{
  height:100vh;

  padding:30px;
  h1{
    border:2px solid black;
  }
  h2{
    border:2px solid black;
  }

}


.game-container{
  display: flex;
  border:2px solid red;
  height:400px;
  font-size: 10px;
  .left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    border:2px solid black;
    hr {
      background:black;
      width:400px;
      height: 2px;
      position: absolute;
      margin:150px 0 30px 200px;
      
    }
    .left-movie{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: grey;

      height: 400px;
      width: 250px;
      
    }
  }
  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    
    .right-movie{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: grey;
      z-index: 1;

      height: 400px;
      width: 250px;
    }
    
  }
}
.winner-container {
border: 2px solid blue;
height: 100px;
.winner-movie {
  margin: 0 auto;
  height: 100%;
  width: 250px;
border: 2px solid green;
}
}


.chooseButton{
  background-color: blue;
  color: white;
  width: 200px;

}

